version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

jobs:
  template-chart:
    docker:
    - image: giantswarm/helm-chart-testing:v3.14.0
    steps:
    - checkout
    - run: |-
        cd helm/observability-platform-api
        helm dependency update
        helm template .

workflows:
  build:
    jobs:
    - template-chart:
        name: template-chart
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: 'observability-platform-api'
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

