name: observability-platform-api
serviceType: managed

gatewayAPI:
  enabled: false
  routes:
  - name: mimir
    namespace: mimir

    # -- Set the route kind
    # Valid options are GRPCRoute, HTTPRoute, TCPRoute, TLSRoute, UDPRoute
    kind: HTTPRoute

    annotations: {}
    labels: {}

    hostnames:
    - observability.giantswarm.io

    parentRefs: []

    matches:
      - path:
          type: PathPrefix
          value: /
        urlRewrite:
          enabled: false
          pattern: "^/prometheus(/.*)$"
          substitution: "\\1"

    ## Filters define the filters that are applied to requests that match this rule.
    filters: []

    ## Additional custom rules that can be added to the route
    additionalRules: []

    securityPolicy:
      enabled: false
      annotations: {}
      labels: {}
      # extAuth:
      #   http:
      #     backendRefs:
      #       - name: oauth2-proxy-observability-platform-api
      #         port: 4180
      #     headersToBackend: ["X-Scope-OrgID"]

    httpRouteFilter:
      enabled: false
      annotations: {}
      labels: {}
      urlRewrite:
        path:
          type: ReplaceRegexMatch
          replaceRegexMatch:
            pattern: "^/prometheus(/.*)$"
            substitution: "\\1"

    backend:
      service:
        name: mimir-gateway
        port: 80

  - name: loki
    namespace: loki

    # -- Set the route kind
    # Valid options are GRPCRoute, HTTPRoute, TCPRoute, TLSRoute, UDPRoute
    kind: HTTPRoute

    annotations: {}
    labels: {}

    hostnames:
    - observability.giantswarm.io

    parentRefs: []

    matches:
      - path:
          type: PathPrefix
          value: /

    ## Filters define the filters that are applied to requests that match this rule.
    filters: []

    ## Additional custom rules that can be added to the route
    additionalRules: []

    securityPolicy:
      enabled: false
      annotations: {}
      labels: {}
      # extAuth:
      #   http:
      #     backendRefs:
      #       - name: oauth2-proxy-observability-platform-api
      #         port: 4180
      #     headersToBackend: ["X-Scope-OrgID"]

    backend:
      service:
        name: loki-gateway
        port: 80

ingresses:
  - name: loki
    namespace: loki
    service:
      name: loki-gateway
      port: 80
    ingressClassName: nginx
    hosts:
      - host: observability.giantswarm.io
        paths: []
    # Optional: specify custom TLS secret name otherwise, the secret is shared in one namespace
    # tls:
    #   secretName: shared-observability-tls
  - name: mimir
    namespace: mimir
    service:
      name: mimir-gateway
      port: 80
    ingressClassName: nginx
    hosts:
      - host: observability.giantswarm.io
        paths: []
    # Optional: specify custom TLS secret name otherwise, the secret is shared in one namespace
    # tls:
    #   secretName: shared-observability-tls
